<div class="nav">
  <ul>
      <li ><button (click)="note(1)" class="style"><b>Mobiles</b></button></li><br><br>
      <li ><button (click)="note(2)"  class="style"><b>Essentials</b></button></li><br><br>
      <li ><button (click)="note(3)" class="style"><b>Offerzone</b></button></li><br><br>
      <li ><button (click)="note(5)" class="style"><b>Grosery</b></button></li><br><br>
      <li ><button (click)="note(6)" class="style"><b>Fashion</b></button></li><br><br>
      <li ><button (click)="note(7)" class="style"><b>Electronics</b></button></li><br><br>
      <li ><button (click)="note(8)" class="style"><b>Home</b></button></li><br><br>
      <li ><button (click)="note(9)"  class="style"><b>Beauty</b></button></li><br><br>
      <li ><button  (click)="note(10)" class="style"><b>Apliances</b></button></li><br><br>
      <li ><button  (click)="note(11)" class="style"><b>Toys & baby</b></button></li><br><br>
      <li ><button (click)="note(12)" class="style"><b>Flight</b></button></li><br><br>
      
  </ul>
</div>

<div class="show">
  <div [hidden] ="display1">
    <div>
    
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTowJruBDfRqPgKpWFJZMtL5Z5_4vWkl5Ji57NlLrsRoFAtFmTR2Uzq_cGuCRgHnk26QKRoYnSu&usqp=CAc"/>
       </div>
       <div>
       <table>
         <tr>
       <th>OnePlus 9 Pro 5G (Pine Green, 12GB RAM, 256GB Storage) I Additional 5000 off on Exchange</th></tr>
       <tr>
        <th>
        <i class="fas fa-star" style ="color : orange"></i>
        <i class="fas fa-star" style ="color : orange"></i>
        <i class="fas fa-star" style ="color : orange"></i>
        <i class="fas fa-star-half-alt" style="color : orange"></i>
        <i class="far fa-star" style ="color : orange"></i>
        </th>
        </tr>

        <tr>
          <tr>
            <th>
            <label style="font-size:24px">₹1,199</label>
            <font color="grey"></font>
              <del> ₹6,999</del><br><font color="green">66%off</font>
              </th>
        </tr>
       </table>
      </div>
  </div>
  <div [hidden] ="display2">
    <div>
      <img src="https://rukminim1.flixcart.com/image/612/612/k9u8zgw0/soap/y/z/v/5-625-original-soap-dettol-original-imafrjgre8kshm43.jpeg?q=70"/>
      </div>
      <div>
        <table>
          <tr>
        <th>Dettol Original Germ Protection Soap  (4 x 125 g)
          4.523,677 Ratings & 1,709 Reviews
          ₹185₹2007% off
          
          Available offers
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer₹20 Off on first prepaid transaction using UPI payments, minimum order value ₹750/-T&C
          
          Bank Offer₹20 Off on first prepaid transaction using RuPay debit card, minimum order value ₹750/-T&C
          
          No Cost EMI on Flipkart Axis Bank Credit CardT&C
          
          View 2 more offers</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display3">
    <div>
      <img src="https://rukminim1.flixcart.com/image/452/542/klcmoi80/oil-dispenser/n/z/v/boroilicate-olive-oil-dispenser-bottle-with-markings-cruet-original-imagyhvhgpyhg9z3.jpeg?q=50"/>
      </div>
      <div>
        <table>
          <tr>
        <th>OFFERZONE 300 ml Cooking Oil Dispenser  (Pack of 2)Be the first to Review this product
          ₹699₹1,69958% off
          
          Hurry, Only a few left!
          Available offers
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer20% off on 1st txn with Amex Network Cards issued by ICICI Bank,IndusInd Bank,SBI Cards and MobikwikT&C
          
          Bank OfferFlat ₹100 off on first Flipkart Pay Later order of ₹500 and aboveT&C
          
          No Cost EMI on Flipkart Axis Bank Credit CardT&C</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display4">
    <div>
      <img src="https://rukminim1.flixcart.com/image/612/612/kkr72q80/nut-dry-fruit/w/h/g/100-natural-california-pouch-happilo-original-imagyf94x3fgjqff.jpeg?q=70"/>
      </div>
      <div>
        <table>
          <tr>
        <th>Happilo 100% Natural Premium Californian Almonds  (80 g)
          Special price
          ₹1₹11099% off
          
          @3.1/250g
          Coupons for you
          
          Special PriceGet at flat ₹1T&C
          Available offers
          
          Buy More, Save MoreBuy worth ₹3000-3999 save ₹200;Buy worth ₹4000 save ₹350See all productsT&C
          
          Bank Offer10% off on Citi Credit/Debit Cards, up to ₹300. On orders of ₹2000 and aboveT&C
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display5">
    <div>
      <img src="https://rukminim1.flixcart.com/image/800/960/k6i7zww0/sari/r/h/b/free-muta2893-muta-fashion-original-imafnbhzdkgqkmjs.jpeg?q=50"/>
      </div>
      <div>
        <table>
          <tr>
        <th>Checkered Fashion Cotton Silk Saree  (Beige)
          ₹299₹1,99985% off
          
          3.98,877 ratings and 791 reviews
          Available offers
          
          Bank Offer10% off on ICICI Bank Cards, up to ₹750. On orders of ₹1500 and aboveT&C
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer20% off on 1st txn with Amex Network Cards issued by ICICI Bank,IndusInd Bank,SBI Cards and MobikwikT&C
          
          No Cost EMI on Flipkart Axis Bank Credit CardT&C</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
      
  </div>
  <div [hidden] ="display6">
      <div>
        <img src="https://rukminim1.flixcart.com/image/612/612/kolsscw0/trimmer/p/s/p/0-5-12-mm-stainless-steel-nht-1073-00-usb-cordless-nova-original-imag3ysyn3unmpsz.jpeg?q=70"/>
      </div>
      <div>
        <table>
          <tr>
        <th>NOVA NHT 1073-00 USB Runtime: 60 min Trimmer for Men  (Black, Blue)
          4.21,03,586 Ratings & 12,983 Reviews
          ₹749₹99925% off
          
          Available offers
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer20% off on 1st txn with Amex Network Cards issued by ICICI Bank,IndusInd Bank,SBI Cards and MobikwikT&C
          
          Bank OfferFlat ₹100 off on first Flipkart Pay Later order of ₹500 and aboveT&C
          
          Partner OfferGST Invoice Available! Save up to 28% for business purchasesKnow More
          
          View 1 more offer</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display7">
      <div>
        <img src="https://rukminim1.flixcart.com/image/612/612/kjom6q80-0/speaker/mobile-tablet-speaker/d/z/x/blitz-1500-boat-original-imafz7f4pghhgeys.jpeg?q=70"/>
      </div>
      <div>
        <table>
          <tr>
        <th>boAt Blitz 1500 Multimedia 50 W Bluetooth Home Theatre  (Premium Black, 2.1 Channel)
          4649 Ratings & 78 Reviews
          ₹3,499₹6,99049% off
          
          Available offers
          
          Bank Offer7% Instant Discount on EMI transactions using YES bank Credit cardsT&C
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer₹20 Off on first prepaid transaction using UPI payments, minimum order value ₹750/-T&C
          
          Partner OfferGST Invoice Available! Save up to 28% for business purchasesKnow More
          
          View 4 more offers</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display8">
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzJuFQGk6gFmzyvPrNmUOYbqRklgMEQXeiww&usqp=CAU"/>
      </div>
      <div>
        <table>
          <tr>
        <th>Denver Hamilton Gift Set 60 Ml Perfume + 165Ml Deo Combo Set  (Set of 2)
          4.454,117 Ratings & 6,291 Reviews
          ₹338₹49932% off
          
          Available offers
          
          Combo OfferBuy 3 items save 5%;Buy 4 save 7%;Buy 5+ save 10%See all productsT&C
          
          Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C
          
          Bank Offer₹20 Off on first prepaid transaction using UPI payments, minimum order value ₹750/-T&C
          
          Bank Offer₹20 Off on first prepaid transaction using RuPay debit card, minimum order value ₹750/-T&C</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display9">
    <div>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71Ku5q4inYL._SL1500_.jpg"/>
    </div>
    <div>
      <table>
        <tr>
      <th>VARADA Pro Air fryer 4.5 liter large capacity with 3D rapid hot air circulation technology with beautiful touch panel display 1500 watt power Large size Tong absolutely free (RED)</th></tr>
      <tr>
       <th>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star-half-alt" style="color : orange"></i>
       <i class="far fa-star" style ="color : orange"></i>
       </th>
       </tr>

       <tr>
         <tr>
           <th>
           <label style="font-size:24px">₹1,199</label>
           <font color="grey"></font>
             <del> ₹6,999</del><br><font color="green">66%off</font>
             </th>
       </tr>
      </table>
    </div>
  </div>
  <div [hidden] ="display10">
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzJuFQGk6gFmzyvPrNmUOYbqRklgMEQXeiww&usqp=CAU"/>
      </div>
      <div>
        <table>
          <tr>
        <th>OnePlus 9 Pro 5G (Pine Green, 12GB RAM, 256GB Storage) I Additional 5000 off on Exchange</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display11">
      <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzJuFQGk6gFmzyvPrNmUOYbqRklgMEQXeiww&usqp=CAU"/>
      </div>
      <div>
        <table>
          <tr>
        <th>OnePlus 9 Pro 5G (Pine Green, 12GB RAM, 256GB Storage) I Additional 5000 off on Exchange</th></tr>
        <tr>
         <th>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star" style ="color : orange"></i>
         <i class="fas fa-star-half-alt" style="color : orange"></i>
         <i class="far fa-star" style ="color : orange"></i>
         </th>
         </tr>
 
         <tr>
           <tr>
             <th>
             <label style="font-size:24px">₹1,199</label>
             <font color="grey"></font>
               <del> ₹6,999</del><br><font color="green">66%off</font>
               </th>
         </tr>
        </table>
      </div>
  </div>
  <div [hidden] ="display12">
    <div>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71Ku5q4inYL._SL1500_.jpg"/>
    </div>
    <div>
      <table>
        <tr>
      <th>VARADA Pro Air fryer 4.5 liter large capacity with 3D rapid hot air circulation technology with beautiful touch panel display 1500 watt power Large size Tong absolutely free (RED)</th></tr>
      <tr>
       <th>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star" style ="color : orange"></i>
       <i class="fas fa-star-half-alt" style="color : orange"></i>
       <i class="far fa-star" style ="color : orange"></i>
       </th>
       </tr>

       <tr>
         <tr>
           <th>
           <label style="font-size:24px">₹1,199</label>
           <font color="grey"></font>
             <del> ₹6,999</del><br><font color="green">66%off</font>
             </th>
       </tr>
      </table>
    </div>
  </div>
</div>